<!-- banner -->
<div class="banner" id="home1">
    <div class="container">
        <h3>Fotos de mis sueños, <span>impresas en papel</span></h3>
    </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<br />
<br />
<div class="banner-wrap">
    <div class="special-deals">
        <div class="container">
            <h2>Categorias mas Buscadas</h2>
            <div class="col-md-5 wthree_banner_bottom_left">
                <div class="video-img">
                    <a class="play-icon popup-with-zoom-anim" onclick="return false;" href="#small-dialog">
                        <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- pop-up-box -->
                <link href="app/content/css/popuo-box.css" rel="stylesheet" type="text/css" property="" media="all" />
                <script src="app/scripts/jquery.magnific-popup.js" type="text/javascript"></script>
                <!--//pop-up-box -->
                <div id="small-dialog" class="mfp-hide">
                    <iframe src="https://player.vimeo.com/video/23259282?title=0&byline=0&portrait=0"></iframe>
                </div>
                <script>
                                $(document).ready(function () {
                                    $('.popup-with-zoom-anim').magnificPopup({
                                        type: 'inline',
                                        fixedContentPos: false,
                                        fixedBgPos: true,
                                        overflowY: 'auto',
                                        closeBtnInside: true,
                                        preloader: false,
                                        midClick: true,
                                        removalDelay: 300,
                                        mainClass: 'my-mfp-zoom-in'
                                    });

                                });
                </script>
            </div>
            <!-- TAB PANEL WITH CATEGORIES -->
            <div class="col-md-7 wthree_banner_bottom_right">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#watches" onclick="return false;" class="service" role="tab" id="watches-tab" data-toggle="tab" aria-controls="watches">Deportes</a></li>
                        <li role="presentation"><a href="#home" onclick="return false;" class="service" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">Comida</a></li>
                        <li role="presentation"><a href="#skirts" onclick="return false;" class="service"role="tab" id="skirts-tab" data-toggle="tab" aria-controls="skirts">Paisajes</a></li>
                        <li role="presentation"><a href="#sandals" onclick="return false;" class="service"role="tab" id="sandals-tab" data-toggle="tab" aria-controls="sandals">Animales</a></li>
                    </ul>
                    <!-- FIRST TAB INSIDE COMIDA -->
                    <!-- FIRST TAB DEPORTES -->
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="watches" aria-labelledby="watches-tab">
                            <div class="agile_ecommerce_tabs">
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/deportes/D1.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D2.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D3.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D4.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D5.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D6.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service"  data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/deportes/D7.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D8.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D9.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D10.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D11.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D12.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/deportes/D13.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D14.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D15.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D16.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D17.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/deportes/D18.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="home" aria-labelledby="home-tab">
                            <div class="agile_ecommerce_tabs">
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/comida/C1.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C2.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C3.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C4.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C5.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C6.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Codigo para insertar el precio del producto, agregar al carrito -->
                                    <!--<h5><a href="single.html">T-Shirt</a></h5>
                                    <div class="simpleCart_shelfItem">
                                        <p><span>$320</span> <i class="item_price">$250</i></p>
                                        <p><a class="item_add" href="#">Add to cart</a></p>
                                    </div>-->
                                </div>
                                <!-- SECOND TAB INSIDE COMIDA -->
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/comida/C6.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C7.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C8.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C9.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C10.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C11.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--<h5><a href="single.html">T-Shirt</a></h5>
                                    <div class="simpleCart_shelfItem">
                                        <p><span>$320</span> <i class="item_price">$250</i></p>
                                        <p><a class="item_add" href="#">Add to cart</a></p>
                                    </div>-->
                                </div>
                                <!-- THIRD TAB INSIDE COMIDA -->
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/comida/C11.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C12.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C13.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C5.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C6.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/comida/C8.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--<h5><a href="single.html">T-Shirt</a></h5>
                                    <div class="simpleCart_shelfItem">
                                        <p><span>$320</span> <i class="item_price">$250</i></p>
                                        <p><a class="item_add" href="#">Add to cart</a></p>
                                    </div>-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <!-- FIRST TAB INSIDE PAISAJES -->
                        <div role="tabpanel" class="tab-pane fade" id="skirts" aria-labelledby="skirts-tab">
                            <div class="agile_ecommerce_tabs">
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/paisajes/P10.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P11.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P12.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P13.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P14.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P15.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/paisajes/P16.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P17.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P18.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P19.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P20.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P21.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/paisajes/P22.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P23.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P24.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P25.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P26.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/paisajes/P16.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>

                        <!-- FIRST TAB ANIMALES -->
                        <div role="tabpanel" class="tab-pane fade" id="sandals" aria-labelledby="sandals-tab">
                            <div class="agile_ecommerce_tabs">
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/animales/1.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/2.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/3.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/4.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/5.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/6.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/animales/7.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/8.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/9.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/10.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/11.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/12.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="hs-wrapper">
                                        <img src="app/content/images/animales/13.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/14.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/15.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/16.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/17.jpg" alt=" " class="img-responsive" />
                                        <img src="app/content/images/animales/5.jpg" alt=" " class="img-responsive" />
                                        <div class="w3_hs_bottom">
                                            <ul>
                                                <li>
                                                    <a href="#" onclick="return false;" class="service" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal-video - Image -->
            <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <section>
                            <div class="modal-body">
                                <div class="col-md-5 modal_body_left">
                                    <img src="app/content/images/20.jpg" alt=" " class="img-responsive" />
                                </div>
                                <div class="col-md-7 modal_body_right">
                                    <h4>a good look women's shirt</h4>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat.Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum dolore
                                        eu fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia
                                        deserunt mollit anim id est laborum.
                                    </p>
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="app/content/images/star-.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="app/content/images/star-.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="app/content/images/star-.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="app/content/images/star.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="rating-left">
                                            <img src="app/content/images/star.png" alt=" " class="img-responsive" />
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="modal_body_right_cart simpleCart_shelfItem">
                                        <p><span>$320</span> <i class="item_price">$250</i></p>
                                        <p><a class="item_add" href="#">Add to cart</a></p>
                                    </div>
                                    <h5>Color</h5>
                                    <div class="color-quality">
                                        <ul>
                                            <li><a href="#"><span></span>Red</a></li>
                                            <li><a href="#" class="brown"><span></span>Yellow</a></li>
                                            <li><a href="#" class="purple"><span></span>Purple</a></li>
                                            <li><a href="#" class="gray"><span></span>Violet</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!--modal-video - Image END -->
        </div>
    </div>
</div>
<!-- //Banner Imagenes de Productos -->
<!-- banner-bottom1 -->
<div class="banner-bottom1">
    <div class="special-deals">
        <div class="container">
            <h2>Proximo Sorteo</h2>
            <div class="agileinfo_banner_bottom1_grids">
                <!--<div class="col-md-7 agileinfo_banner_bottom1_grid_left">
                    <h3>Grand Opening Event With flat<span>20% <i>Discount</i></span></h3>
                    <a href="products.html">Shop Now</a>
                </div>-->
                <div class="col-md-12 agileinfo_banner_bottom1_grid_right">
                    <h4>Tiempo Restante ...</h4>
                    <div class="timer_wrap">
                        <div id="counter"> </div>
                    </div>
                    <script src="app/scripts/jquery.countdown.js"></script>
                    <script src="app/scripts/script.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner-bottom1 -->
<!-- special-deals -->
<div class="special-deals">
    <div class="container">
        <h2>Novedades</h2>
        <div class="w3agile_special_deals_grids">
            <div class="col-md-7 w3agile_special_deals_grid_left">
                <div class="w3agile_special_deals_grid_left_grid">
                    <img src="app/content/images/26.jpg" alt=" " class="img-responsive" />
                    <div class="w3agile_special_deals_grid_left_grid_pos1">
                        <h5>30%<span>Off/-</span></h5>
                    </div>
                    <div class="w3agile_special_deals_grid_left_grid_pos">
                        <h4>Calidad <span>como Cualidad</span></h4>
                    </div>
                </div>
                <div class="wmuSlider example1">
                    <div class="wmuSliderWrapper">
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="w3agile_special_deals_grid_left_grid1">
                                    <img src="app/content/images/1.png" alt=" " class="img-responsive" />
                                    <p>
                                        Zoom HD me sirvio para ampliar mi negocio como fotografa prosional,
                                        permitiendome expandirme en todo el mundo
                                    </p>
                                    <h4>Laura</h4>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="w3agile_special_deals_grid_left_grid1">
                                    <img src="app/content/images/2.png" alt=" " class="img-responsive" />
                                    <p>
                                        Con Zoom HD comence a dar mis primeros pasos como fotografo profesional,
                                        me permitio adquirir la experiencia necesaria para pasar de ser un fotografo amateur,
                                        a ser contratado en varios eventos
                                    </p>
                                    <h4>Michael</h4>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="w3agile_special_deals_grid_left_grid1">
                                    <img src="app/content/images/3.png" alt=" " class="img-responsive" />
                                    <p>
                                        Nunca Imagine que un Hobby como ser Fotografa ameteur se iba a transformar
                                        en un segundo trabajo gracias a Zoom HD
                                    </p>
                                    <h4>Rose</h4>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <script src="app/scripts/jquery.wmuSlider.js"></script>
                <script>
                                $('.example1').wmuSlider();
                </script>
            </div>
            <div class="col-md-5 w3agile_special_deals_grid_right">
                <img src="app/content/images/25.jpg" alt=" " class="img-responsive" />
                <div class="w3agile_special_deals_grid_right_pos">
                    <h4>Zoom<span> HD</span></h4>
                    <!--<h5>save up <span>to</span> 30%</h5>-->
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //special-deals -->
<!-- new-products -->
<div class="new-products">
    <div class="container">
        <h3>Ultimas Fotos</h3>
        <div class="agileinfo_new_products_grids">
            <div class="col-md-3 agileinfo_new_products_grid">
                <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                    <div class="hs-wrapper hs-wrapper1">
                        <img src="app/content/images/27.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/28.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/29.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/30.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/27.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/28.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/29.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/30.jpg" alt=" " class="img-responsive" />
                        <div class="w3_hs_bottom w3_hs_bottom_sub">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h5><a href="single.html">Polleras</a></h5>
                    <div class="simpleCart_shelfItem">
                        <p><span>$320</span> <i class="item_price">$250</i></p>
                        <p><a class="item_add" href="#">Agregar</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileinfo_new_products_grid">
                <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                    <div class="hs-wrapper hs-wrapper1">
                        <img src="app/content/images/31.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/32.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/33.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/34.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/31.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/32.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/33.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/34.jpg" alt=" " class="img-responsive" />
                        <div class="w3_hs_bottom w3_hs_bottom_sub">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h5><a href="single.html">Camperas</a></h5>
                    <div class="simpleCart_shelfItem">
                        <p><span>$320</span> <i class="item_price">$250</i></p>
                        <p><a class="item_add" href="#">Agregar</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileinfo_new_products_grid">
                <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                    <div class="hs-wrapper hs-wrapper1">
                        <img src="app/content/images/37.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/30.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/36.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/38.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/37.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/30.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/36.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/38.jpg" alt=" " class="img-responsive" />
                        <div class="w3_hs_bottom w3_hs_bottom_sub">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h5><a href="single.html">Vestidos</a></h5>
                    <div class="simpleCart_shelfItem">
                        <p><span>$320</span> <i class="item_price">$250</i></p>
                        <p><a class="item_add" href="#">Agregar</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileinfo_new_products_grid">
                <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                    <div class="hs-wrapper hs-wrapper1">
                        <img src="app/content/images/40.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/41.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/42.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/43.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/40.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/41.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/42.jpg" alt=" " class="img-responsive" />
                        <img src="app/content/images/43.jpg" alt=" " class="img-responsive" />
                        <div class="w3_hs_bottom w3_hs_bottom_sub">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h5><a href="single.html">Jeans</a></h5>
                    <div class="simpleCart_shelfItem">
                        <p><span>$320</span> <i class="item_price">$250</i></p>
                        <p><a class="item_add" href="#">Agregar</a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //new-products -->
<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>Marcas Asociadas</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                <li>
                    <img src="app/content/images/4.png" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="app/content/images/5.png" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="app/content/images/6.png" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="app/content/images/7.png" alt=" " class="img-responsive" />
                </li>
                <li>
                    <img src="app/content/images/46.jpg" alt=" " class="img-responsive" />
                </li>
            </ul>
        </div>
        <script type="text/javascript">
                                $(window).load(function () {
                                    $("#flexiselDemo1").flexisel({
                                        visibleItems: 4,
                                        animationSpeed: 1000,
                                        autoPlay: true,
                                        autoPlaySpeed: 3000,
                                        pauseOnHover: true,
                                        enableResponsiveBreakpoints: true,
                                        responsiveBreakpoints: {
                                            portrait: {
                                                changePoint: 480,
                                                visibleItems: 1
                                            },
                                            landscape: {
                                                changePoint: 640,
                                                visibleItems: 2
                                            },
                                            tablet: {
                                                changePoint: 768,
                                                visibleItems: 3
                                            }
                                        }
                                    });

                                });
        </script>
        <script type="text/javascript" src="app/scripts/jquery.flexisel.js"></script>
    </div>
</div>
<!-- //top-brands -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h3>Newsletter</h3>
            <p>Suscribase a nuestras ultimas novedades</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="" />
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter -->